body {
  
  font-family: 'Scheherazade New', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Righteous', cursive;
}

.logo-bar{
  margin: 0;
  padding:0;
}

.nav-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(40, 40, 43);
  border-radius: 10px 10px;
  padding:5px;
  margin-top: 0;
}

a{
  color: antiquewhite;
  text-decoration: none;
}